<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <Header>
        <Title>meta</Title>
        <Author>Mads Kristensen</Author>
        <Description>Markup snippet for meta elements</Description>
        <Shortcut>meta</Shortcut>
        <SnippetTypes>
            <SnippetType>Expansion</SnippetType>
        </SnippetTypes>
    </Header>
    <Snippet>
        <Code Language="html"><![CDATA[<meta $end$/>]]></Code>
    </Snippet>
</CodeSnippet>